:root {
    /* --backg-color: #3ce8e8; */
    --backg-color: #0b5b5b;
    
    --accent-color: #333333;

    --accent-text-color: black;

    --hover-color: #aee8e8;
    --hover-text-color: black;
}

.canvas {
    position: absolute;
}

.about {
    position: absolute;
    z-index: 1;
}

.topnav-a {
    display: inline;
    float: left;
    font-family: monospace;
    font-size: 30px;
    display: block;
    padding: 21px;
    color: white;
    text-align: center;
    transition: 150ms ease-in;
}

.topnav-a:hover {
    background-color: var(--hover-color);
    color: black;
    transition: 150ms ease-in;
}

.topnav-a-img {
    display: inline;
    float: right;
    display: block;
    height: 75%;
    background-color: var(--accent-color);
}

.topnav-img {
    height: 100%;
    padding: 10px;
}

.navbar {
    height: 75px;

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--accent-color);
    overflow: hidden;
}

.active {
    background-color: var(--backg-color);
}

.active:hover {
    background-color: var(--backg-color);
    color: white;
}

body {
    padding: 0;
    margin: 0;
    background: var(--backg-color);
}

.selector {
    margin: 10px;
    background: black;
    /* border-radius: 10px; */
    height: 86vh;
    opacity: 0.5;
    transition: all 100ms;
    box-shadow:
  0.8px 0.8px 1.2px rgba(0, 0, 0, 0.129),
  2.2px 2.2px 2.9px rgba(0, 0, 0, 0.159),
  4.4px 4.4px 5.4px rgba(0, 0, 0, 0.174),
  8px 8px 9.6px rgba(0, 0, 0, 0.186),
  14.3px 14.3px 18px rgba(0, 0, 0, 0.205),
  30px 30px 43px rgba(0, 0, 0, 0.27)
;
}

.selector:hover {
    opacity: 1;
    transition: all 100ms;
}

a {
    text-decoration: none;
}

.life3d {
    background-image: url("./images/3dlife.png");
    border-radius: 22% 78% 11% 89% / 88% 12% 88% 12%;
}

.chaos3d {
    background-image: url("./images/3dchaos.png");
    border-radius: 80% 20% 88% 12% / 21% 87% 13% 79%;
}

.boids {
    background-image: url("./images/boids.png");
    border-radius: 22% 78% 31% 69% / 62% 31% 69% 38%;
}

.selector-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: auto; */
    /* column-gap: 10px;
    row-gap: 10px; */
}

h2 {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

p {
    font-family: monospace;
    text-align: left;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.5rem;
}

.contact-header {
    font-family: monospace;
    text-align: left;
    margin-left: 40px;
    font-size: 3rem;
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

.contact {
    font-size: 2rem;
    color: white;
}

.contact a {
    color: #CCCCCC;
}

.contact a:hover {
    color: #3ee8e8;
}

/* Animations */
.scale-up-center:hover {
	-webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-13 13:13:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.85);
              transform: scale(0.85);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.85);
              transform: scale(0.85);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


  .scale-down-center {
	-webkit-animation: scale-down-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-13 13:16:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.85);
              transform: scale(0.85);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.85);
              transform: scale(0.85);
    }
  }
  